<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bezerras</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let menu of menus" [ngClass]="menu.menuItems.length > 0 ? 'nav-item dropdown' : 'nav-item'">
          <a *ngIf="menu.menuItems.length > 0" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menu.name }}</a>
          <a *ngIf="menu.menuItems.length <= 0" class="nav-link" href="#{{ menu.path }}" >{{ menu.name }}</a>
          <div *ngIf="menu.menuItems.length > 0" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let menuItem of menu.menuItems " class="dropdown-item" href="#{{ menuItem.path }}">{{ menuItem.name }}</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>